# SECRET_KEY
SECRET_KEY=djan***insecure-%4***cb2lwmte$6=o****9!fx^q41)xg-*q2g-o_!*****o4xy

# DEBUG
DEBUG=True

# Windows использует кодировку CP1251 вместо UTF-8.
PYTHONIOENCODING=utf-8

# DATABASES
DB_NAME=habitproject
DB_USER=postgres
DB_PASSWORD=*********
DB_HOST=localhost
DB_PORT=5432

# Токен доступа к HTTP API
TELEGRAM_BOT_TOKEN=8345323456345524:AAHaJTqrvewrbsrefghewsahg5yR1g45PjY

# Celery
CELERY_BROKER_URL=redis://localhost:6***/*
CELERY_RESULT_BACKEND=redis://localhost:6***/*